---
import { getCollection } from "astro:content";
import TableOfContents from "../../components/TableOfContents.astro";
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";
import FormattedDate from "../../components/FormattedDate.astro";
export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}

const post = Astro.props;
const { Content, headings } = await post.render();
---

<Layout title={post.data.title} description={post.data.description}>
  <div class="flex justify-center gap-12">
    <main class="w-full px-4 pt-12 pb-20 max-w-screen-md relative">
      <article>
        <div class="w-full">
          <Image
            width={1020}
            height={510}
            src={post.data.heroImage}
            alt=""
            class="mx-auto rounded-xl shadow-lg"
            transition:name=`image-${post.id}`
          />
        </div>
        <div
          class="prose max-w-screen-md p-4 mx-auto prose-code:before:hidden prose-code:after:hidden prose-inline-code:bg-orange-100 prose-inline-code:rounded prose-inline-code:px-1"
        >
          <div class="title mb-4 py-4 text-center leading-none">
            <div class="mb-2 text-gray-500">
              <FormattedDate date={post.data.pubDate} />
            </div>
            <h1>{post.data.title}</h1>
            <hr />
          </div>
          <Content />
        </div>
      </article>
      <aside
        class="hidden 2xl:block top-0 -right-1/2 absolute h-full w-80 screen"
      >
        {
          headings?.length > 0 && (
            <TableOfContents headings={headings} class="sticky top-8" />
          )
        }
      </aside>
    </main>
  </div>
</Layout>
