---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <main class="max-w-screen-lg mx-auto p-8">
    <h1 class="text-3xl mb-8 font-medium">Posts</h1>
    <section>
      <ul class="grid grid-cols-1 md:grid-cols-3 gap-y-8 gap-x-4">
        {
          posts.map((post) => (
            <li class="group">
              <a href={`/blog/${post.slug}/`}>
                <Image
                  width={720}
                  height={360}
                  src={post.data.heroImage}
                  alt=""
                  class="rounded-lg group-hover:scale-105 duration-300 ease-in-out"
                  transition:name={`image-${post.id}`}
                />
                <h2 class="font-bold mt-1 group-hover:text-violet-600">
                  {post.data.title}
                </h2>
              </a>
            </li>
          ))
        }
      </ul>
    </section>
  </main>
</Layout>
