---
import Header from '../components/Header.astro'
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts'
interface Props {
  title: string
  description?: string
  image?: string
}

const {
  title,
  description = 'Astro Blog',
  image = '/images/default.webp',
} = Astro.props
---

<!doctype html>
<html lang='ko'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content={description} />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <meta property='og:image' content={image} />
    <title>{title}</title>
  </head>
  <body class='min-h-screen bg-neutral-50'>
    <Header title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <slot />
  </body>
</html>
